#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  z-index: -100;
}

.contents {
  display: none;
}

#defaultCanvas0 {
  z-index: -20;
  top: 0;
  position: fixed;
  transition: 1.2s;
}

header {
  z-index: 10;
  width: 100vw;
  top: 0;
  position: fixed;
}

@media (min-width: 1024px) {
  header {
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
  }
}

@media (max-width: 480px) {
  header {
    height: 65px;
    background-color: #fafafa;
  }
}

header #logo-icon {
  position: fixed;
}

@media (min-width: 1024px) {
  header #logo-icon {
    top: 17px;
    left: 3.3vw;
    width: 46px;
  }
}

@media (max-width: 480px) {
  header #logo-icon {
    top: 15px;
    left: 8vw;
    width: 26px;
  }
}

header #logo-icon img {
  width: 100%;
}

@media (min-width: 1024px) {
  header .hamburger-icon {
    display: none;
  }
}

@media (max-width: 480px) {
  header .hamburger-icon {
    float: right;
    position: relative;
    top: 10px;
    right: 6vw;
    width: 50px;
    height: 50px;
    background-color: #fafafa;
    text-align: center;
    padding: 5px;
  }
  header .hamburger-icon span {
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    transition: all 0.3s;
    width: 42px;
    height: 1px;
    background: #2d2d2d;
    display: block;
  }
  header .hamburger-icon .first {
    transform: translateY(-12px) scale(1);
  }
  header .hamburger-icon .second {
    background: none;
  }
  header .hamburger-icon .second:before, header .hamburger-icon .second:after {
    transition: all 0.3s;
    content: "";
    width: 42px;
    height: 1px;
    background: #2d2d2d;
    display: block;
    transform: rotate(0deg);
    position: absolute;
  }
  header .hamburger-icon .third {
    transform: translateY(12px) scale(1);
  }
}

@media (max-width: 480px) {
  header .is-open .first {
    transform: translateY(0px) scale(0);
  }
  header .is-open .third {
    transform: translateY(0px) scale(0);
  }
  header .is-open .second:before {
    transform: rotate(45deg);
  }
  header .is-open .second:after {
    transform: rotate(-45deg);
  }
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

p {
  color: #2d2d2d;
}

ul {
  list-style: none;
}

* {
  letter-spacing: 1.1px;
}

h1, h2, h3 {
  font-family: 'Lato';
}

h1 {
  letter-spacing: 2.2px;
}

.menu {
  z-index: 8;
}

@media (min-width: 1024px) {
  .menu {
    position: fixed;
    bottom: 30px;
    left: 3vw;
  }
  .menu ul li {
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 300;
    margin: 15px 0;
  }
}

@media (max-width: 480px) {
  .menu {
    display: none;
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
  .menu ul {
    width: 80%;
    height: 50%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20vh;
    margin: auto;
    text-align: center;
  }
  .menu ul li {
    font-size: 28px;
    font-family: 'Lato';
    font-weight: 300;
    margin: 50px 0;
  }
}

#scroll-top {
  display: none;
  right: 3.4vw;
  bottom: 26px;
  width: 58px;
  position: fixed;
}

#scroll-top img {
  width: 100%;
}

#title {
  position: absolute;
}

@media (min-width: 1024px) {
  #title {
    top: 44vh;
    left: 18vw;
    width: 320px;
  }
}

@media (max-width: 480px) {
  #title {
    top: 42vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
  }
}

#title img {
  width: 100%;
}

@media (min-width: 1024px) {
  .page-head {
    padding-top: 120px;
    padding-bottom: 100px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .page-head {
    padding-top: 100px;
    padding-bottom: 70px;
    width: 100%;
  }
}

.page-head img {
  left: 0;
  right: 0;
  margin: auto;
  height: 40px;
  position: absolute;
}

.work-wrapper {
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: 1024px) {
  .work-wrapper {
    width: 76vw;
    padding-bottom: 120px;
  }
}

@media (max-width: 480px) {
  .work-wrapper {
    width: 84vw;
    padding-bottom: 60px;
  }
}

.work-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px auto;
}

.work-wrapper ul li .work-thumb {
  background-color: #2d2d2d;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .work-wrapper ul li .work-thumb {
    width: thumb-width-pc-1/2;
    height: thumb-width-pc-1/2/1.618;
    margin: 0.5vw auto;
  }
}

@media (max-width: 480px) {
  .work-wrapper ul li .work-thumb {
    width: 84vw;
    height: 51.91595vw;
    margin: 8px auto;
  }
}

.work-wrapper ul li .work-thumb img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.6s ease;
}

.work-wrapper ul li .work-thumb .hover-mask {
  position: absolute;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2vw;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.6s ease;
  color: white;
  font-weight: 200;
}

.work-wrapper ul li .work-thumb .hover-mask h1 {
  font-size: 38px;
}

.work-wrapper ul li .work-thumb .hover-mask h2 {
  font-size: 28px;
}

.work-wrapper ul li .work-thumb :hover .hover-mask {
  opacity: 1;
}

.work-wrapper ul li .work-thumb :hover img {
  transform: scale3d(1.2, 1.2, 1);
}

#back-button {
  z-index: 4;
}

@media (min-width: 1024px) {
  #back-button {
    left: 3.2vw;
    top: 140px;
    width: 82px;
    position: fixed;
  }
  #back-button img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #back-button {
    background-color: #fafafa;
    top: 64px;
    width: 100vw;
    height: 50px;
    position: fixed;
  }
  #back-button img {
    margin: 12px 20px;
    width: 24%;
  }
}

.work-details-wrapper {
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: 1024px) {
  .work-details-wrapper {
    width: 76vw;
    padding-top: 180px;
    padding-bottom: 120px;
  }
}

@media (max-width: 480px) {
  .work-details-wrapper {
    width: 84vw;
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

.work-details-wrapper h1 {
  font-size: 36px;
  font-weight: 200;
  margin: 6px auto;
}

.work-details-wrapper h2 {
  font-size: 28px;
  font-weight: 200;
  margin: 6px auto;
  letter-spacing: 1.2px;
}

@media (min-width: 1024px) {
  .work-details-wrapper .work-top-image {
    margin: 2.5vw auto;
    width: 100%;
    height: 46.97157vw;
  }
}

@media (max-width: 480px) {
  .work-details-wrapper .work-top-image {
    width: 100%;
    height: 51.91595vw;
  }
}

.work-details-wrapper .work-top-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .work-details-wrapper .work-summary {
    padding: 3vw 0;
  }
  .work-details-wrapper .work-summary ul {
    margin-bottom: 30px;
  }
  .work-details-wrapper .work-summary ul li {
    display: flex;
    margin: 10px auto;
  }
  .work-details-wrapper .work-summary ul li h3 {
    width: 6vw;
  }
  .work-details-wrapper .work-summary ul li p {
    font-family: 'Lato';
    font-weight: 200;
    margin: auto 1.2vw;
  }
  .work-details-wrapper .work-summary ul li .work-details-text {
    margin-top: 3vw;
    width: 86%;
  }
  .work-details-wrapper .work-summary ul li .work-details-text a {
    text-decoration: underline;
  }
}

@media (max-width: 480px) {
  .work-details-wrapper .work-summary {
    padding: 10px 0;
  }
  .work-details-wrapper .work-summary ul {
    margin-bottom: 30px;
  }
  .work-details-wrapper .work-summary ul li {
    display: flex;
    margin: 24px auto;
  }
  .work-details-wrapper .work-summary ul li h3 {
    width: 0px;
    height: 100%;
  }
  .work-details-wrapper .work-summary ul li p {
    font-family: 'Lato';
    font-weight: 200;
    margin-left: 24vw;
  }
  .work-details-wrapper .work-summary ul li .work-details-text {
    width: 84vw;
  }
  .work-details-wrapper .work-summary ul li .work-details-text p {
    margin: 40px 0 20px;
  }
  .work-details-wrapper .work-summary ul li .work-details-text a {
    text-decoration: underline;
  }
}

.work-details-wrapper .work-sub-image ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .work-details-wrapper .work-sub-image ul {
    margin: 20px auto;
  }
}

@media (min-width: 1024px) {
  .work-details-wrapper .work-sub-image ul li {
    width: thumb-width-pc-1/2;
    height: thumb-width-pc-1/2/1.618;
    margin: 0.3vw 0;
  }
}

@media (max-width: 480px) {
  .work-details-wrapper .work-sub-image ul li {
    width: 84vw;
    height: 51.91595vw;
    margin: 8px 0;
  }
}

.work-details-wrapper .work-sub-image ul li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.work-details-wrapper .work-PR-text {
  left: 0;
  right: 0;
  margin: 6vw auto 5vw;
  width: 90%;
}

.visit-link {
  text-align: right;
  font-family: 'Lato';
  font-weight: 200;
}

@media (min-width: 1024px) {
  .visit-link {
    margin-right: 5vw;
    margin-top: 20px;
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .visit-link {
    margin-right: 5vw;
    margin-top: 20px;
    font-size: 20px;
  }
}

.work-end {
  display: block;
  right: 0;
  left: 0;
  text-align: center;
  width: 100px;
}

@media (min-width: 1024px) {
  .work-end {
    margin: 120px auto;
  }
}

@media (max-width: 480px) {
  .work-end {
    margin: 50px auto;
  }
}

.work-end .point {
  display: inline-block;
  background-color: #2d2d2d;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin: 10px;
}

@media (min-width: 1024px) {
  .otherworks {
    height: 300px;
  }
  .otherworks h2 {
    text-align: center;
  }
  .otherworks .nav-to-other {
    display: block;
    width: 70vw;
    right: 0;
    left: 0;
    margin: 100px auto;
    text-align: center;
  }
  .otherworks .nav-to-other a {
    width: 120px;
    margin: 50px 0;
    display: inline-block;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 200;
  }
  .otherworks .nav-to-other #previous {
    text-align: right;
    margin-left: 6vw;
    float: left;
  }
  .otherworks .nav-to-other #next {
    text-align: left;
    margin-right: 6vw;
    float: right;
  }
  .otherworks .nav-to-other #vertical-line {
    width: 1px;
    height: 160px;
    background-color: #2d2d2d;
    display: inline-block;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
  }
}

@media (max-width: 480px) {
  .otherworks {
    height: 100px;
  }
  .otherworks h2 {
    font-size: 20px;
    text-align: center;
  }
  .otherworks .nav-to-other {
    display: block;
    width: 70vw;
    right: 0;
    left: 0;
    margin: 100px auto;
    text-align: center;
  }
  .otherworks .nav-to-other a {
    width: 100px;
    margin: 20px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 200;
  }
  .otherworks .nav-to-other #previous {
    text-align: right;
    margin-left: 2px;
    float: left;
  }
  .otherworks .nav-to-other #next {
    text-align: left;
    margin-right: 2px;
    float: right;
  }
  .otherworks .nav-to-other #vertical-line {
    width: 1px;
    height: 60px;
    background-color: #2d2d2d;
    display: inline-block;
    margin: 0 auto 100px;
    position: absolute;
    right: 0;
    left: 0;
  }
}

#overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

@media (max-width: 480px) {
  #overlay {
    display: none;
  }
}

.about-wrapper {
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'Lato';
}

@media (min-width: 1024px) {
  .about-wrapper {
    width: 70vw;
  }
}

@media (max-width: 480px) {
  .about-wrapper {
    width: 84vw;
  }
}

.about-wrapper h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 14px 0;
}

.about-wrapper .about-text, .about-wrapper .about-skills, .about-wrapper .about-message {
  width: 100%;
}

.about-wrapper .about-text p, .about-wrapper .about-skills p, .about-wrapper .about-message p {
  margin: 26px auto 60px;
  width: 96%;
}

.about-wrapper .about-skills {
  font-size: 20px;
  font-weight: 200;
}

@media (min-width: 1024px) {
  .about-wrapper .about-message {
    margin: 140px auto;
  }
}

@media (max-width: 480px) {
  .about-wrapper .about-message {
    margin: 60px auto;
  }
}

.about-wrapper #contact-top {
  text-align: center;
  padding-bottom: 300px;
}

.about-wrapper #contact-top #arrow-down {
  margin: 36px auto;
  width: 12px;
}

@media (min-width: 1024px) {
  .about-wrapper #contact-top #email-button {
    width: 320px;
  }
}

@media (max-width: 480px) {
  .about-wrapper #contact-top #email-button {
    width: 260px;
  }
}
